<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tsh.study.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="cn.tsh.study.model.Student">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="score" jdbcType="VARCHAR" property="score" />
  </resultMap>
  <insert id="insert" parameterType="cn.tsh.study.model.Student">
    insert into tb_student (name, age, course, 
      score)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{course,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tsh.study.model.Student">
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="course != null">
        #{course,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="cn.tsh.study.model.Student">
    <id column="studentId" jdbcType="INTEGER" property="studentid" />
    <result column="studentName" jdbcType="VARCHAR" property="studentname" />
    <result column="studentSex" jdbcType="VARCHAR" property="studentsex" />
    <result column="studentAge" jdbcType="VARCHAR" property="studentage" />
    <result column="studentPhone" jdbcType="VARCHAR" property="studentphone" />
    <result column="studentEmail" jdbcType="VARCHAR" property="studentemail" />
    <result column="studentAddress" jdbcType="VARCHAR" property="studentaddress" />
    <result column="studentInfo" jdbcType="VARCHAR" property="studentinfo" />
    <result column="studentUserName" jdbcType="VARCHAR" property="studentusername" />
    <result column="studentRegTime" jdbcType="TIMESTAMP" property="studentregtime" />
    <result column="studentUserPass" jdbcType="VARCHAR" property="studentuserpass" />
    <result column="requireSubject" jdbcType="VARCHAR" property="requiresubject" />
    <result column="teacherRequire" jdbcType="VARCHAR" property="teacherrequire" />
    <result column="studentStatue" jdbcType="VARCHAR" property="studentstatue" />
    <result column="studentPhoto" jdbcType="VARCHAR" property="studentphoto" />
    <result column="checkStatue" jdbcType="VARCHAR" property="checkstatue" />
  </resultMap>
  <sql id="Base_Column_List">
    studentId, studentName, studentSex, studentAge, studentPhone, studentEmail, studentAddress, 
    studentInfo, studentUserName, studentRegTime, studentUserPass, requireSubject, teacherRequire, 
    studentStatue, studentPhoto, checkStatue
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where studentId = #{studentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_student
    where studentId = #{studentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tsh.study.model.Student">
    insert into tb_student (studentId, studentName, studentSex, 
      studentAge, studentPhone, studentEmail, 
      studentAddress, studentInfo, studentUserName, 
      studentRegTime, studentUserPass, requireSubject, 
      teacherRequire, studentStatue, studentPhoto, 
      checkStatue)
    values (#{studentid,jdbcType=INTEGER}, #{studentname,jdbcType=VARCHAR}, #{studentsex,jdbcType=VARCHAR}, 
      #{studentage,jdbcType=VARCHAR}, #{studentphone,jdbcType=VARCHAR}, #{studentemail,jdbcType=VARCHAR}, 
      #{studentaddress,jdbcType=VARCHAR}, #{studentinfo,jdbcType=VARCHAR}, #{studentusername,jdbcType=VARCHAR}, 
      #{studentregtime,jdbcType=TIMESTAMP}, #{studentuserpass,jdbcType=VARCHAR}, #{requiresubject,jdbcType=VARCHAR}, 
      #{teacherrequire,jdbcType=VARCHAR}, #{studentstatue,jdbcType=VARCHAR}, #{studentphoto,jdbcType=VARCHAR}, 
      #{checkstatue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tsh.study.model.Student">
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        studentId,
      </if>
      <if test="studentname != null">
        studentName,
      </if>
      <if test="studentsex != null">
        studentSex,
      </if>
      <if test="studentage != null">
        studentAge,
      </if>
      <if test="studentphone != null">
        studentPhone,
      </if>
      <if test="studentemail != null">
        studentEmail,
      </if>
      <if test="studentaddress != null">
        studentAddress,
      </if>
      <if test="studentinfo != null">
        studentInfo,
      </if>
      <if test="studentusername != null">
        studentUserName,
      </if>
      <if test="studentregtime != null">
        studentRegTime,
      </if>
      <if test="studentuserpass != null">
        studentUserPass,
      </if>
      <if test="requiresubject != null">
        requireSubject,
      </if>
      <if test="teacherrequire != null">
        teacherRequire,
      </if>
      <if test="studentstatue != null">
        studentStatue,
      </if>
      <if test="studentphoto != null">
        studentPhoto,
      </if>
      <if test="checkstatue != null">
        checkStatue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentid != null">
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="studentname != null">
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentsex != null">
        #{studentsex,jdbcType=VARCHAR},
      </if>
      <if test="studentage != null">
        #{studentage,jdbcType=VARCHAR},
      </if>
      <if test="studentphone != null">
        #{studentphone,jdbcType=VARCHAR},
      </if>
      <if test="studentemail != null">
        #{studentemail,jdbcType=VARCHAR},
      </if>
      <if test="studentaddress != null">
        #{studentaddress,jdbcType=VARCHAR},
      </if>
      <if test="studentinfo != null">
        #{studentinfo,jdbcType=VARCHAR},
      </if>
      <if test="studentusername != null">
        #{studentusername,jdbcType=VARCHAR},
      </if>
      <if test="studentregtime != null">
        #{studentregtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentuserpass != null">
        #{studentuserpass,jdbcType=VARCHAR},
      </if>
      <if test="requiresubject != null">
        #{requiresubject,jdbcType=VARCHAR},
      </if>
      <if test="teacherrequire != null">
        #{teacherrequire,jdbcType=VARCHAR},
      </if>
      <if test="studentstatue != null">
        #{studentstatue,jdbcType=VARCHAR},
      </if>
      <if test="studentphoto != null">
        #{studentphoto,jdbcType=VARCHAR},
      </if>
      <if test="checkstatue != null">
        #{checkstatue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tsh.study.model.Student">
    update tb_student
    <set>
      <if test="studentname != null">
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentsex != null">
        studentSex = #{studentsex,jdbcType=VARCHAR},
      </if>
      <if test="studentage != null">
        studentAge = #{studentage,jdbcType=VARCHAR},
      </if>
      <if test="studentphone != null">
        studentPhone = #{studentphone,jdbcType=VARCHAR},
      </if>
      <if test="studentemail != null">
        studentEmail = #{studentemail,jdbcType=VARCHAR},
      </if>
      <if test="studentaddress != null">
        studentAddress = #{studentaddress,jdbcType=VARCHAR},
      </if>
      <if test="studentinfo != null">
        studentInfo = #{studentinfo,jdbcType=VARCHAR},
      </if>
      <if test="studentusername != null">
        studentUserName = #{studentusername,jdbcType=VARCHAR},
      </if>
      <if test="studentregtime != null">
        studentRegTime = #{studentregtime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentuserpass != null">
        studentUserPass = #{studentuserpass,jdbcType=VARCHAR},
      </if>
      <if test="requiresubject != null">
        requireSubject = #{requiresubject,jdbcType=VARCHAR},
      </if>
      <if test="teacherrequire != null">
        teacherRequire = #{teacherrequire,jdbcType=VARCHAR},
      </if>
      <if test="studentstatue != null">
        studentStatue = #{studentstatue,jdbcType=VARCHAR},
      </if>
      <if test="studentphoto != null">
        studentPhoto = #{studentphoto,jdbcType=VARCHAR},
      </if>
      <if test="checkstatue != null">
        checkStatue = #{checkstatue,jdbcType=VARCHAR},
      </if>
    </set>
    where studentId = #{studentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tsh.study.model.Student">
    update tb_student
    set studentName = #{studentname,jdbcType=VARCHAR},
      studentSex = #{studentsex,jdbcType=VARCHAR},
      studentAge = #{studentage,jdbcType=VARCHAR},
      studentPhone = #{studentphone,jdbcType=VARCHAR},
      studentEmail = #{studentemail,jdbcType=VARCHAR},
      studentAddress = #{studentaddress,jdbcType=VARCHAR},
      studentInfo = #{studentinfo,jdbcType=VARCHAR},
      studentUserName = #{studentusername,jdbcType=VARCHAR},
      studentRegTime = #{studentregtime,jdbcType=TIMESTAMP},
      studentUserPass = #{studentuserpass,jdbcType=VARCHAR},
      requireSubject = #{requiresubject,jdbcType=VARCHAR},
      teacherRequire = #{teacherrequire,jdbcType=VARCHAR},
      studentStatue = #{studentstatue,jdbcType=VARCHAR},
      studentPhoto = #{studentphoto,jdbcType=VARCHAR},
      checkStatue = #{checkstatue,jdbcType=VARCHAR}
    where studentId = #{studentid,jdbcType=INTEGER}
  </update>
</mapper>